
//@theme "/home/victor/.local/share/rofi/themes/rounded-nord-dark.rasi"

//@theme "/home/victor/.local/share/rofi/themes/windows11-list-dark.rasi"

@theme "/home/victor/.local/share/rofi/themes/rounded-nord-dark.rasi"
